html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}
img{
    max-width: 100%;
}
h1{
    font-size: 4rem;
}
.contendor{
    max-width: 1000px;
    width: 90%;
    margin: 1.6em; auto;
    

}
.entrtada-blog a{
display: inline-block;
background-color: #e7c6ff;
color: black;
padding: 10px 20px;
text-decoration: none;
font-weight: bold;
text-transform: uppercase;
}
@media(min-width:768px){
    .dos-columnas{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
}

/* HEADER */
.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 1.9em;
    text-transform: uppercase;
}
.contendor > .sidebar {
    grid-column: span 2;
}
